<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>

    <style>
                *, *::after, *::before{
        margin:0;
        padding: 0;
        box-sizing: border-box;
        }

        html {
            font-size: 62.5%;
        }

        body{
            font-size: 1.6rem;
            background-color:peachpuff;
        }
    </style>
</head>
<body>

<nav class="navbar navbar-dark bg-dark justify-content-flex-end" style="display: flex;
    justify-content: flex-end;background:black;">

    <form class="form-inline" action="/register" method="get">
        <button class="btn btn-outline-success" style="padding:1rem 1rem;margin:5px 10px" type="submit">Register</button>
    </form>
</nav>


<center> <h1 style="font-size:5rem; font-style:italic; text-align:center; font-weight:700;">  Login Form </h1> </center>

<div style="    padding: 20px 40px;
    margin: 40px 100px;
    justify-content: center;
    margin-left: auto;
    width: fit-content;
    margin-right: auto;
    font-size:2rem;
">
    <form action="validate" method="post">
        <div class="container">
            <label>Username : </label>
            <input type="text" placeholder="Enter Username"style="padding:5px 5px" name="username" required> <br> <br>
            <label>Password : </label>
            <input type="password" placeholder="Enter Password" style="padding:5px 5px" name="password" required> <br> <br>


            <button type="submit">Login</button>

            <button type="button" class="cancelbtn"> Cancel</button>

        </div>
    </form>
    <h4>********************<span th:if="${err}" th:text="${err}"></span>********************</h4>

</div>




</body>
</html>