<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
</head>
<body>
<nav class="navbar navbar-dark bg-dark justify-content-between">

    <form class="form-inline" action="/register" method="get">
        <button class="btn btn-outline-success" type="submit">Register</button>
    </form>
</nav>

<center> <h1>  Login Form </h1> </center>
<form action="validate" method="post">
    <div class="container">
        <label>Username : </label>
        <input type="text" placeholder="Enter Username" name="username" required> <br> <br>
        <label>Password : </label>
        <input type="password" placeholder="Enter Password" name="password" required> <br> <br>
        <button type="submit">Login</button>

        <button type="button" class="cancelbtn"> Cancel</button>

    </div>
</form>
<h4>********************<span th:if="${err}" th:text="${err}"></span>********************</h4>


</body>
</html>